<h1> We are here to add a teacher</h1>

<form method="POST" action="/Add">
    <div>
        <label for="TeacherFname">Teacher First Name:</label>
        <input type="text" name="TeacherFname">
    </div>
    
    <div>
        <label for="TeacherLname">Teacher Last Name:</label>
        <input type="text" name="TeacherLname">
    </div>
    <div>
        <label for="EmployeeID">Employee ID:</label>
        <input type="text" name="EmployeeID">
    </div>

     <div>
        <label for="HireDate">Hire Date</label>
        <input type="datetime" name="HireDate">
    </div>
    <div>
        <label for="Salary">Salary</label>
        <input type="text" name="Salary">
    </div>
    <input type="submit" value="Add a Teacher" />

</form>